<div class = "page-header"><h1>Project Details</h1></div>
<div class = "container">
	<div class = "row">
							<div class = "col-md-6">
						<p>
							<strong>Name:</strong>
							<%= @project.name %>
						</p>

						<p>
							<strong>Description:</strong>
							<%= @project.description %>
						</p>


						<p>
							<strong>Fault at Transformer:</strong>
							<%= @project.init_fault %>
						</p>


						<p>
							<strong>Position:</strong>
							<%= @project.position %>
						</p>

						<p>
						<%= link_to "View Panels", {controller: 'panels', action: 'index', project_id: @project.id}, class: "btn btn-md btn-default", remote: true   %> </p>

						<%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-md btn-default", remote: true   %> 
						<%= link_to "Cancel", {controller: 'dashboard', action: 'index'}, class: "btn btn-md btn-default" %>
						<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-md btn-danger" %>
					</div>
</div>
</div>