<div class="container">
 </div>
<%= link_to "Back to Project", project_path(@project), class: "btn btn-md btn-default", remote: true %>
 <%= link_to "New Panel", {controller: 'panels', action: 'new', project_id: @project.id}, class: "btn btn-md btn-default", remote: true   %>
  <%= link_to "Fault Current", {controller: 'panels', action: 'fault', project_id: @project.id}, class: "btn btn-md btn-default", remote: true   %>
  <%= link_to "Voltage Drop", {controller: 'panels', action: 'voltdrop', project_id: @project.id}, class: "btn btn-md btn-default", remote: true   %>
 <div class="container">
  <div class="row">
    <div class="col-sm-11" id = "panel-table">
      <h2>Panel Values</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Panel Name</th>
            <th>Wire length</th>
            <th>Init fault</th>
            <th>Runs</th>
            <th>Voltage</th>
            <th>C value</th>
            <th>Wire Size</th>
          </tr>
        </thead>

        <tbody>
          <% @panels.each do |panel| %>
          <tr>
            <td><%= link_to panel.panel_name, edit_panel_path(panel), class: "btn btn-md btn-default", remote: true %></td>
            <td><%= "#{panel.wire_length.to_i}'" %></td>
            <td><%= number_with_precision(panel.init_fault, precision: 2) %></td>
            <td><%= panel.runs.to_i %></td>
            <td><%= panel.voltage.to_i %></td>
            <td><%= panel.c_value.to_i %></td>
            <td><%= "##{panel.wire_size}" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
      <% if !flash[:notice].blank? %>
    <div class="alert alert-danger fade in">
      <%= flash[:notice] %>
    </div>
    <% end %>
</div>