<%= form_for(@user) do |f| %>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">


          <div class="form-group">
            <%= f.label :user_name %><br>
            <%= f.text_field :user_name %>
          </div>

          <div class="form-group">
            <%= f.label :first_name %><br>
            <%= f.text_field :first_name %>
          </div>

          <div class="form-group">
            <%= f.label :last_name %><br>
            <%= f.text_field :last_name %>
          </div>

          <div class="form-group">
            <%= f.label :email %><br>
            <%= f.text_field :email %>
          </div>


          <div class="form-group">
            <%= f.label :password %><br>
            <%= f.password_field :password %>
          </div>


          <div class="form-group">
            <%= f.submit 'Submit', {:class => 'btn btn-md btn-success'} %>
          </div>


        </div>
      </div>
    </div>
 <% end %>