<div class = "page-header"><h1>Project Details</h1></div>
<div class = "container">
	<div class = "row">
		<div class = "col-md-4" id = "project-table">
			<h2>
				<%= @project.name %>
			</h2>
			<p>
				<strong>Description:</strong>
				<%= @project.description %>
			</p>


			<p>
				<strong>Fault at Transformer:</strong>
				<%= @project.init_fault %>
			</p>

			<p>
				<strong>Type:</strong>
				<%= @project.project_type %>
			</p>


			<p>
				<strong>Position:</strong>
				<%= @project.position %>
			</p>

		</div>

		
			<p><div class = "col-sm-2">
			<%= link_to "View Panels", {controller: 'panels', action: 'index', project_id: @project.id}, class: "btn btn-md btn-default", remote: true   %> </p>
			<%= link_to "View Units", {controller: 'units', action: 'index', project_id: @project.id}, class: "btn btn-md btn-default", remote: true   %> </p>

			<p><%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-md btn-default", remote: true   %></p>
			<p>
			<%= link_to "Cancel", {controller: 'dashboard', action: 'index'}, class: "btn btn-md btn-default" %>
		</p>
			<p>
			<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-md btn-danger" %></p>
		</div>
	</div>
</div>