<%= form_for @project, remote: true do |f| %>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area(:description, :size => "40x5") %>
      </div>
      <div class="form-group">
        <%= f.label "Fault at Transformer" %><br>
        <%= f.text_field :init_fault %>
      </div>
      <div class="form-group">
        <%= f.label "Project Type" %><br>
        <%= f.text_field :project_type %>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
      <div class="form-group">
        <%= f.hidden_field :user_id, :value => session[:user_id] %>
      </div>
      <div class="form-group">
        <%= f.label :position %><br>
       <%= f.select :position, 1..@project_count, {}, {class: "form-control"}  %>
      </div>
      <div class="form-group">
        <%= f.submit 'Save', {:class => 'btn btn-md btn-success', locals: { :projects => @projects }} %> 

        <%= link_to "Cancel", {controller: "dashboard", action: "index"}, class: "btn btn-md btn-default" %>
            </div>
      </div>
    </div>
  </div>
<% end %>
